<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE PAYPR STORY</title>
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
    />
    <link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="#317EFB">
</head>
<body>
    <main>
        <!-- Loader -->
    <div id="loader">
        <div class="spinner"></div>
    </div>
        <div class="myProfile">My Profile</div>
        <div class="personalDetail">
            <div class="mainText">PERSONAL DETAILS
                <img class="editDetail" src="https://cdn-icons-png.flaticon.com/128/1828/1828270.png" alt="">
            </div>
            <div class="detail">
                <p>Name</p>
                <p class="bold"><%=user.username%></p>
            </div>
            <div class="detail">
                <p>Mobile Number</p>
                <p class="bold"><%=user.mobileNumber%></p>
            </div>
            
        </div>
        <div class="address">
         
            <div class="mainText">DELIVERY ADDRESS
                <img  class="editAddress" src="https://cdn-icons-png.flaticon.com/128/1828/1828270.png" alt="">
            </div>
            <p class="bold"><span>College </span>: <%=user.college%></p>
            <p class="bold"><span>block </span>: <%=user.block%></p>
            <p class="bold"><span>Department </span>: <%=user.department%></p>
            <p class="bold"><span>Room Number </span>: <%=user.roomNumber%></p>
        </div>
        <div class="feedback">
            <p>Help us to improve your experience</p>
            <div class="input">Share Your Feedback</div>
        </div>

        
        <div class="footer">
            <div class="footerBox printout">
                <i class="ri-printer-line"></i>
                <div class="footerName">Printout</div>
            </div>
            <div class="footerBox home">
                <i class="ri-home-2-line"></i>
                <div class="footerName">Home</div>
            </div>
            <div class="footerBox cart">
                <i class="ri-shopping-cart-2-line"></i>
                <div class="footerName">Cart</div>
            </div>
            <div class="footerBox order">
                <i class="ri-instance-line"></i>
                <div class="footerName">Order</div>
            </div>
            <div class="footerBox profile">
                <i class="ri-user-line"></i>
                <div class="footerName">Profile</div>
            </div>
        </div>

        
    </main>
    <div class="detailjs">
        <form action="/detail" method="post">
            <input type="text" name="username" placeholder="Username" required value="<%=user.username%>">
            <input type="tel" name="mobileNumber" id="" placeholder="Mobile number" required value="<%=user.mobileNumber%>">
            <input type="submit" value="Submit">
        </form>
    </div> 
    <div class="detailjs1">
        <form action="/changeAddress" method="post">
            <label for="college" class="zero">College</label>
                    <select name="college" id="college">
                        <option value="">---select---</option>
                        <option value="Medicaps univercity">Medicaps univercity</option>
                        <option value="Vaishnav University">Vaishnav University</option>
                        <option value="Sage Univercity">Sage Univercity</option>
                    </select>
            <input type="text" name="block" placeholder="Block" required value="<%=user.block%>">
            <input type="text" name="department" placeholder="Department" required value="<%=user.department%>">
            <input type="text" name="roomNumber" placeholder="Room number" required value="<%=user.roomNumber%>">
            <input type="submit" value="Submit">
        </form>
    </div> 
    <div class="feedbackjs">
        <div class="textFeedback">Share your feedback</div>
        <form action="/feedback" method="post">
            <input type="text" name="feedback" placeholder="Feedback" required>
            <input type="submit" value="Submit">
        </form>
    </div> 
    <script src="/javaScripts/nav.js"></script>
    <script src="/javaScripts/profile.js"></script>
    
</body>
</html>